extends _baseEmail

block content

    h1 Password Rest Email
    p Hi ,
    p you have asked to reset your password. To continue, kindly click on this link 

    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='center')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Link 
    p Thank you once again for choosing Titan.
    