extends _baseEmail

block content
    h3(style={color:"red"}) Daily Working Hours Warning
    p Hi #{name},
    p This is a warning mail from Softrefine Portal,
    p Please complete minimum 8 hours in a day,Otherwise disciplinary action will be initiated against you.
    p
    p Thank you.