extends _baseEmail

block content
    h3(style={color:"red"}) Employee Weekly Hours Details
    body
    if(attendanceList && attendanceList.length > 0)
            table(width='100%', cellspacing='0px', cellpadding='5px', border='1px', bgcolor='#F2F2F2')
                tr
                    th No.
                    th Name
                    th TotalHours
                    th TotalWorkingHours

                each val, index in attendanceList
                    tr(align='center')
                        td= index+1
                        td= val.userWeek[0].user.name   
                        td= val.totalHour    
                        td= val.totalWorkingHours    
            br
    else 