extends _baseEmail

block content
    h3(style={color:"red"}) Weekly Working Hours Warning 
    p Hi #{name},
    p This is a warning mail from Softrefine Portal,
    p Please complete your Weekly Hours (45 hours*),Otherwise disciplinary action will be initiated against you. 
    p
    p
    p Thank you.